SHARD_0_DATABASE_URL=postgresql://postgres.[HOST-NAME]:[YOUR-PASSWORD]@aws-0-[REGION].pooler.supabase.com:[PORT]/postgres
SHARD_1_DATABASE_URL=postgresql://postgres.[HOST-NAME]:[YOUR-PASSWORD]@aws-0-[REGION].pooler.supabase.com:[PORT]/postgres

REDIS_URL=rediss://default:your_password@your-endpoint.upstash.io:6379
